<dom-module id='swint-component1'>
	<style>
		:host {
			display: inline-block;
			width: 20em;
		}

		:host .css {
			background-image: urlAbs('/foo/bar/baz');
		}

		<% if(tmplVar === 'A') { %>
			:host .button {
				<%- png.component1.foo %>
			}
		<% } else { %>
			:host .button {
				<%- png.component1.bar %>
			}
		<% } %>
	</style>

	<template>
		<div class="button" style$="{{styleCSS}}"></div>
		<img source="<%- svg.dir.Canada %>" />
	</template>
</dom-module>

<script>
	Polymer({
		is: "swint-component1",
		properties: {
			styleCSS: String
		}
	});
</script>
